@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
}

body {
    background-color: #EEEEEEEE;
    font-family: 'Open Sans',serif;
}

header {
    width: 100%;
    background-color: rgb(80, 80, 80);
    padding: 1%;
    box-shadow: 0px 5px 15px black;
}

header h1 {
    color: white;
    padding-bottom: 1%;
}

header nav {
    width: 75%;
    margin: auto;
}


nav a {
    font-size: 120%;
    text-decoration: none;
    font-weight: bold;
    color: white; 
    padding-left: 5%;
    padding-right: 5%;
}

nav a:hover {
    color: rgb(164, 211, 238); 
}

main {
    padding-top: 2%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5%;

    background-color: black;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-evenly*/;
    padding: 1%;
}

.link-page h2 {
    display: inline-block;
}

.common-links {
    margin: auto;
    width: 90%;
    border-bottom: groove 2px white;
}

.common-link {
    padding-right: 10%;
}

.link-sect {
    width: 90%;
    margin: auto;
}

/*
    General classes
*/
.center {
    text-align: center;
}

.search-form {
    text-align: center;
}

.search-form input[type=text] {
    border: 1px solid black;
    padding: 5px;
    border-radius: 5%;
}

.search-form button {
    margin-top: 2px;
    padding: 5px;
    border-radius: 15%;
    border: 1px solid black;
    background-color: #CCCCCCCC
}