@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
    --header-colour: #247BA0;
    --nav-hover-colour: #70C1B3;
    --background-colour-light: #FFE066;
    --background-colour-dark: #F25F5C;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    overflow-x: hidden;
}

/*
=======================
   Element Selectors
=======================
*/

body {
    background-color: var(--background-colour);
    color: white;
    font-family: 'Open Sans', serif;
}

/*
=====================================
    Header selectors and classes
=====================================
*/
header {
    width: 100%;
    background-color: var(--header-colour);
    position: relative;
    z-index: 1;  
}

header .header-container {
    display: flex;
    justify-content: space-around;
    
    width: 95%;
    margin: auto;
}

header h1{
    text-align: center;
    padding-right: 10px;
}

.header-logo {
    border-radius: 50%;
    height: fill;
    width: auto;
    width: 64px;
    height: 64px;
}
/*
------------------------------------
    Navbar selectors and classes
------------------------------------
*/
header nav {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

header nav a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    flex: 1;
    padding-bottom: 5px;
}

header nav a {
    transition: 1s;
}

header nav a:hover {
    background-color: var(--nav-hover-colour);
}

.nav-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-button-container img {
    padding: 5px;
}

/*
=====================================
    Main Content
=====================================
*/
main {
    background-color: var(--background-colour-light);
}

main .page-title {
    padding: 2vh;
    background-color: var(--header-colour);
}

main .page-title h1 {
    width: 80%; 
    margin: auto;
    font-size: 300%;
}

main .main-content {
    min-height: 85vh;
    width: 70%;
    margin: auto;
    color: black;
}

main .content-container {
    width: 90%;
    margin: auto;
    padding: 10px;
}

/*
------------------------------------
    Common links screen
------------------------------------
*/
.link-page h2 {
    display: inline-block;
}

.common-links {
    margin: auto;
    width: 95%;
    border-bottom: solid 2px black;
}

.common-link {
    padding-right: 6%;
}

.link-sect {
    width: 90%;
    margin: auto;
}

.search-form {
    width: 95%;
    margin: auto;
    padding-bottom: 5px;
    border-bottom: solid 2px black;
}

.search-form input[type=text] {
    border: 2px solid black;
    padding: 5px;
}

.search-form button {
    margin-top: 2px;
    padding: 5px;
    border: 2px solid black;
    background-color: var(--background-colour-dark)
}

/*
===================
  Footer
===================
*/

footer {
    min-height: 10vh;
    background: var(--title-bg-colour);
    border-top: solid black;
}

/*
===================
  General classes
===================
*/
.flex-container {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-evenly*/;
    padding: 1%;
}

.center {
    text-align: center;
}


@media only screen and (max-width: 1280px) {
    /*
    =====================================
        Main Content
    =====================================
    */

    main .main-content {
        width: 90%;
    }

    main .content-container {
        width: 95%;
    }

    /*
    ------------------------------------
        Common links screen
    ------------------------------------
    */
    .link-logo {
        width: 96px;
        height: 96fpx;
    }

    .common-links {
        width: 95%;
    }

    .common-link {
        padding-right: 5%;
    }

    .link-sect {
        width: 95%;
    }
}

@media only screen and (max-width: 640px) {
    /*
    =====================================
        Main Content
    =====================================
    */
    main .main-content {
        width: 98%;
    }

    main .content-container {
        width: 98%;
    }
    /*
    ------------------------------------
        Common links screen
    ------------------------------------
    */
        
    .link-logo {
        width: 64px;
        height: 64px;
    }

    .common-links {
        width: 98%;
    }

    .common-link {
        padding-right: 3%;
    }

    .link-sect {
        width: 98%;
    }
}