-set title Projects

<h1>Projects</h1>

<div class="projects">
    <article>
        <h2>Open Builder</h2>
        <div class="row">
            <div>
                <p>Open builder is a 'Minecraft-like' game I made to learn about using networking to create a multiplayer game, and how to integrate a scripting language in a game.</p>
                <p>This was created using C++, with OpenGl and Sfml for the graphics, ENet for reliable UDP sockets, and Lua/Sol2 for scripting support.</p>
            </div>
            <img src='https://camo.githubusercontent.com/d8ae38c189df2cbba245c0478331278285c40437/68747470733a2f2f692e696d6775722e636f6d2f46537a306957752e706e67' alt="OpenBuilder Screenshot">
        </div>
        <div class="row">
            <a href="https://github.com/Hopson97/open-builder">Github Page</a>
            <a href="https://www.youtube.com/playlist?list=PLMZ_9w2XRxiYb-ewSron6jd2fC1UHbDbJ">YouTube Series</a>
            <a href="projects/open_builder_demos.html">'Demos'</a>
        </div>
    </article>

    <img src='https://camo.githubusercontent.com/d8ae38c189df2cbba245c0478331278285c40437/68747470733a2f2f692e696d6775722e636f6d2f46537a306957752e706e67' alt="OpenBuilder Screenshot">
    <img src='hhttps://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Falsafwame.com%2Fdata%2Fclients%2Foriginal_image%2F58%2FEnet_logo_PNG.PNG&f=1&nofb=1' alt="OpenBuilder Screenshot">

</div>