-set title Projects

<h2>Projects</h2>

<div class="projects">
    <article>
        <h3>Open Builder</h3>
        <div class="row">
            <div>
                <p>Open builder is a 'Minecraft-like' game I made to learn about using networking to create a multiplayer game, and how to integrate a scripting language in a game.</p>
                <p>This was created using C++, with OpenGl and Sfml for the graphics, ENet for reliable UDP sockets, and Lua/Sol2 for scripting support.</p>
            </div>
            <img src='https://camo.githubusercontent.com/d8ae38c189df2cbba245c0478331278285c40437/68747470733a2f2f692e696d6775722e636f6d2f46537a306957752e706e67' alt="OpenBuilder Screenshot">
        </div>
        <div class="project_links row">
            
            <a href="https://github.com/Hopson97/open-builder">Github</a>
            •
            <a href="https://www.youtube.com/playlist?list=PLMZ_9w2XRxiYb-ewSron6jd2fC1UHbDbJ">YouTube</a>
            •
            <a href="projects/open_builder_demos.html">'Demos'</a>
        </div>
    </article>

    <article>
        <h3>Cellular Automaton</h3>
        <div class="row">
            <div>
                <p>Collection of cellular automaton projects implemented using C++ and SFML for graphics.</p>
                <p>Included are Conway's Game of Life, Predator and Prey, Wire World, Langton's Ant, and Brian's Brain </p>
            </div>
        </div>
        <img src='https://raw.githubusercontent.com/Hopson97/CellularAutomaton/master/Screenshots/Screenshot0.png' alt="OpenBuilder Screenshot">

        <div class="project_links row">
            
            <a href="https://github.com/Hopson97/CellularAutomaton">Github</a>
            •
            <a href="https://www.youtube.com/playlist?list=PLMZ_9w2XRxiZT6LBaef6n2CZ0fGHMrEht">YouTube</a>
        </div>
    </article>

</div>