-set title Useful Links
<h2 class="title">{{title}}</h2>

<div class="link-section">
  <h3>Common</h3>
  <div class="row">
    -set link https://www.youtube.com/
    -set logo yt
    ((partials/common_link))

    -set link https://www.github.com/"
    -set logo gh
    ((partials/common_link))

    -set link https://www.netflix.com/"
    -set logo nf
    ((partials/common_link))
  </div>
</div>

<div class="link-section">
  <h3>Mail</h3>
  <div class="row">
    -set link https://mail.google.com/mail/u/3/#inbox
    -set logo gm
    ((partials/common_link))

    -set link https://outlook.live.com/mail/inbox
    -set logo ol
    ((partials/common_link))
  </div>
</div>

<div class="link-section">
  <h3>Shopping</h3>
  <div class="row">
    -set link https://smile.amazon.co.uk
    -set logo am
    ((partials/common_link))

    -set link https://www.game.co.uk
    -set logo gm
    ((partials/common_link))
  </div>
</div>