footer 
    .d-flex.justify-content-center.pt-3
        p Find me elsewhere...
    .d-flex.justify-content-center
        a(href="https://github.com/Hopson97")
            .fab.fa-github.fa-2x
        a(href="https://www.youtube.com/channel/UCeQhZOvNKSBRU0Mdg7V44wA")
            .fab.fa-youtube.fa-2x 
        a(href="https://twitter.com/hopson1997?lang=en")
            .fab.fa-twitter.fa-2x 
        a(href="https://www.patreon.com/Hopson")
            .fab.fa-patreon.fa-2x 
