footer 
    .d-flex.justify-content-center.pt-3
        p Find me elsewhere...
    .d-flex.justify-content-center
        a(href="https://github.com/Hopson97" target="_blank")
            .fab.fa-github.fa-2x
        a(href="https://www.youtube.com/c/hopsonn" target="_blank")
            .fab.fa-youtube.fa-2x 
        a(href="https://twitter.com/hopson1997" target="_blank")
            .fab.fa-twitter.fa-2x 
        a(href="https://www.patreon.com/Hopson" target="_blank")
            .fab.fa-patreon.fa-2x 
