header.mt-2
  .d-flex.justify-content-center
    a(href='#')
  nav.d-flex.justify-content-center
    a.align-middle.p-4(href='about.html') About
    a.align-middle.p-4(href='index.html') Projects
    img.align-middle(src="https://avatars.githubusercontent.com/u/13512660?s=460&u=012cdce07c7f341b2f995ddbe55d29765248794a&v=4")
    a.align-middle.p-4(href='links.html') Links 
    a.align-middle.p-4(href='#') Contact