header.mt-2
  nav
    h1.cent.pb-2 Matthew Hopson
    .d-flex.justify-content-center.pb-2
      a.align-middle.pl-4(href='about.html') About
      a.align-middle.pl-4(href='index.html') Projects
      a.align-middle.pl-4(href='links.html') Useful Links 
      a.align-middle.pl-4(href='fun.html') Fun