body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(20, 20, 20);
    color: white;
}

header {
    padding: 1%;
    width: 60%;
    margin: auto;
}

nav {
    font-size: larger;
}

nav img {
    border-radius: 50%;
    max-width: 10%;
    height: auto;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: larger;
}

main {
    width: 55%;
    margin: auto;
}

/* 
    ============================

            LINKS PAGE

    ============================
*/
.common_link {
    padding-left: 3%;
}


/* 
    =================================

            PROJECTS PAGE

    =================================
*/
.project {
    border-bottom: 1px solid rgb(68, 68, 68);
    padding-bottom: 2%;
    padding-top: 2%;
    min-height: 35vh;
}

.project-articles {
    list-style: none;
}

.project-title * {
    display: inline;
}


.project-title h3::after {
    content: " | ";
}


.project img {
    transition: 2s;
    max-height: 25vh;
    width: auto;
    border: 1px solid white;
}


.project img:hover {
    max-height: 50vh;
    display:block;
    z-index:999;
}

.project-tag {
    margin: 1%;
}
.project-tag:hover {
    cursor: pointer;
    text-decoration: underline;
}



/* 
    =================================

            GENERAL CSS

    =================================
*/
.inline * {
    display: inline;
}