body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(20, 20, 20);
    color: white;
}

header {
    padding: 1%;
    width: 60%;
    margin: auto;
}

nav {
    font-size: larger;
    border-bottom: 1px solid rgb(255, 255, 255);
}

nav img {
    border-radius: 50%;
    max-width: 6%;
    height: auto;
    border: 2px solid white;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: larger;
}

main {
    width: 60%;
    margin: auto;
}

footer {
    width: 50%;
    margin: auto;
}

.cent {
    text-align: center;

}

.fab {
    color: white;
    text-decoration: none;
}

footer .fab {
    border-top: 1px solid rgb(68, 68, 68);
    padding: 20px;
}

/* 
    ============================

            LINKS PAGE

    ============================
*/
.common_link {
    padding-left: 3%;
}


/* 
    =================================

            PROJECTS PAGE

    =================================
*/
.project {
    border-bottom: 1px solid rgb(68, 68, 68);
    padding-bottom: 2%;
    padding-top: 2%;
    min-height: 35vh;
}

.project-articles {
    list-style: none;
}

.project-title * {
    display: inline;
}


.project-title h3::after {
    content: " | ";
}


.project img {
    margin: 1%;
    transition: 2s;
    max-height: 25vh;
    width: auto;
    border: 1px solid white;
}


.project img:hover {
    max-height: 40vh;
    display:block;
    z-index:999;
}

.project-tag {
    margin: 1%;
}
.project-tag:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* 
    ============================

            FUN 

    ============================
*/
.fun-content {
    width: 80%;
    margin: auto;
}

canvas {
    border: 1px solid white;
}

#circuitcanvas {
    width: 1600px;
    height: 600px;
}

/* 
    =================================

            GENERAL CSS

    =================================
*/
.inline * {
    display: inline;
}

@media only screen and (max-width: 1600px) {
    
    header {
        width: 80%;
    }
    
    nav {
        font-size: large;
        border-bottom: 1px solid rgb(255, 255, 255);
    }
    
    nav a {
        font-size: larger;
    }
    
    main {
        width: 80%;
    }
    
    footer {
        width: 80%;
    }
    
    footer .fab {
        padding: 20px;
    }
    
    /* 
        ============================
    
                LINKS PAGE
    
        ============================
    */
    .common_link {
        padding-left: 1%;
    }
    
    /* 
        =================================
    
                PROJECTS PAGE
    
        =================================
    */
    .project {
        min-height: 35vh;
    }

    .project img {
        max-height: 20vh;
    }
    
    .project img:hover {
        max-height: 30vh;
    }
}

@media only screen and (max-width: 1280px) {
    
    header {
        width: 85%;
    }
    
    nav {
        font-size: large;
        border-bottom: 1px solid rgb(255, 255, 255);
    }
    
    nav a {
        font-size: larger;
    }
    
    main {
        width: 85%;
    }
    
    footer {
        width: 80%;
    }
    
    footer .fab {
        padding: 20px;
    }
    
    /* 
        ============================
    
                LINKS PAGE
    
        ============================
    */
    .common_link {
        padding-left: 1%;
    }
    
    /* 
        =================================
    
                PROJECTS PAGE
    
        =================================
    */
    .project {
        min-height: 20vh;
    }

    .project img {
        max-height: 10vh;
    }
    
    .project img:hover {
        max-height: 20vh;
    }
}

@media only screen and (max-width: 768px) {
    
    header {
        width: 95%;
    }
    
    nav {
        font-size: large;
        border-bottom: 1px solid rgb(255, 255, 255);
    }
    
    nav a {
        font-size: larger;
    }
    
    main {
        width: 95%;
    }
    
    footer {
        width: 95%;
    }
    
    footer .fab {
        padding: 20px;
    }
    
    /* 
        ============================
    
                LINKS PAGE
    
        ============================
    */
    .common_link {
        padding-left: 1%;
    }
    
    /* 
        =================================
    
                PROJECTS PAGE
    
        =================================
    */
    .project {
        min-height: 20vh;
    }

    .project img {
        max-height: 10vh;
    }
    
    .project img:hover {
        max-height: 15vh;
    }
}