html(lang="en")
  include _partials/common.pug
   
  main
    h2.cent About Me 
    p Hello! My name is Mattew Hopson, and I currently a final year software engineering student.
  
  include _partials/footer.pug