html(lang="en")
  include _partials/common.pug
   
  main
    h2.cent About Me 
    .row 
      .col-12
        p Welcome! My name is Matthew Hopson and I current am a final year software engineering project, studying at the University of Portsmouth. I have a huge passion for anything technology, especially software development and learning about new languages and domains.

        p I started to learn programming around 2015, when I picked up a copy of #[a(href="https://www.cprogramming.com/c++book/", target="_blank") Jumping into C++ by ]Alex Allain, and since then nd have created many projects in many different languages since, most of which can be found on the #[a(href="index.html") Projects page] of this website.
            
        p Around the same time as this, I also opend up a #[a(href="https://youtube.com/c/hopsonn", target="_blank") YouTube channel] to share my projects and demonstrate their creation process. As of writing, the channel has accumauted over 85,000 subscribers and over 9,750,000 views.

        p My main programmimg interests are graphical applications and general low level programming and optimizations.

        p Outside of programming and the computer, I enjoy cooking, playing the piano, and playing games.
        // .col-6
        //   img(src="assets/img/logos/logo.png")

  include _partials/footer.pug