html(lang="en")
  include _partials/common.pug
   
  main
    h2.cent About Me 
    .row 
      .col-6
        p Welcome! My name is Matthew Hopson and I current am a final year software engineering project, studying at the University of Portsmouth. I have a huge passion for anything technology, especially software development. 
        p My first introduction to programming was probably around 2011 in ICT class at school, where they brought in a guest teacher who showed us Scratch. Since then I have been hooked and have programming ever since.
        p Since around 2015 I started to learn more standard languages, such as C++, Python, and Java, and have created many projects in many different languages, most of which can be found on the #[a(href="index.html") Projects page.] 
            
        p Around the same time as this, I also started a #[a(href="https://youtube.com/c/hopsonn", target="_blank") YouTube channel] to demonstrate the creation process of projects. As of writing, the channel has accumauted over 85000 subscribers 9,750,000 views.

        p My main programmimg interests are graphical applications and general low level programming and optimizations.

        p Outside of programming and the computer, I enjoy cooking, playing the piano, and playing games.
      .col-6
        img(src="assets/img/logos/logo.png")

  include _partials/footer.pug