html(lang="en")
  include _partials/common.pug
  script(src="assets/js/Renderer.js")
  script(src="assets/js/Circuit/Constants.js")
  script(src="assets/js/Circuit/Board.js")
  script(src="assets/js/Circuit/Component.js")
  script(src="assets/js/Circuit/Tools.js")
  script(src="assets/js/Circuit/App.js")
   
  main
    h2.cent Circuit Editor 
    p Simple circuit editor designed to create mini diagrams for the Node MCU microcontroller cause I was unfond of exsiting solutions 
  
  .fun-content
    form
      .row
        label(for="colour") Colour
        input.m-1(type="color" id="colour" name="colour" value="#FF00FF")
        button.btn.btn-info.m-1(type="button" id="resistor") Resistor
        button.btn.btn-info.m-1(type="button" id="wire") Wire
        button.btn.btn-info.m-1(type="button" id="erase") Erase
        button.btn.btn-info.m-1(type="button" id="led") LED
        button.btn.btn-info.m-1(type="button" id="button") Button
    canvas#circuitcanvas

  include _partials/footer.pug