html(lang="en")
  include _partials/common.pug
   
  main
    h1 Fun Stuff
    p Bunch of mini-projects and tools that you can play via web browser

    .fun-section 
      h3 Mini Circuit Maker 
      .row 
        .col-6
          p Simple circuit editor designed to create mini diagrams for the Node MCU microcontroller cause I was unfond of existing solutions 
          p Features several component types, eg wires, resistors, and LEDS; but is very much a work in progress.
          p The 
          a(href="circuit.html")
        .col-6 
          a(href="circuit.html")
            img(src="assets/img/circuit.png")
    
  include _partials/footer.pug