html(lang="en")
  include _partials/common.pug
   
  main
    h1 Fun Stuff
    p Bunch of mini-projects and tools that you can play via web browser

    .fun-section.pb-2 
      h3 Mini Circuit Maker 
      a(href="circuit.html") Access Here
      .row 
        .col-6
          p Simple circuit editor designed to create mini diagrams for the Node MCU microcontroller cause I was unfond of existing solutions 
          p Features several component types, eg wires, resistors, and LEDS; but is very much a work in progress.
          p While it is possible to make simple diagrams, the application is still very much a work in progress. 
          p Yet to add: 
          ul 
            li Erasing 
            li Custom components 
            li Fix issues (Eg, wires are able to go directly into the node mcu)
          
        .col-6 
          a(href="circuit.html")
            img(src="assets/img/circuit.png", width = 500 height = 300)
          
    
  include _partials/footer.pug