html(lang="en")
  include _partials/common.pug
  script(src="assets/Projects.js")
  main
    h1 Projects
    ul#projects-index
    .project-list.row
      .col-4
      .col-4
      .col-4
    ul#projects-articles.project-articles
      li.project.cpp.opengl.game
        article
          h3 Hopson Land
          p What a sick game this one way, eh?
      li.project.cpp.opengl.game
        article
          h3 Hopson Land
          p What a sick game this one way, eh?
      li.project.cpp.opengl.game
        article
          h3 Hopson Land
          p What a sick game this one way, eh?