html(lang="en")
  include _partials/common.pug
  
  mixin common_link(link, logo)
     .common_link 
      a(href=link)
        img(src=logo)

  main
    h1 Links 
    .common_link_section
      h2 Common 
      .row 
        +common_link("https://www.youtube.com/", "assets/img/logos/logo-yt.png")
        +common_link("https://www.github.com/", "assets/img/logos/logo-gh.png")
        +common_link("https://www.netflix.com/", "assets/img/logos/logo-nf.png")

    .common_link_section
      h2 Common 
      .row 
        +common_link("https://mail.google.com/mail/u/3/#inbox", "assets/img/logos/logo-gm.png")
        +common_link("https://outlook.live.com/mail/inbox", "assets/img/logos/logo-ol.png")

    .common_link_section
      h2 Common 
      .row 
        +common_link("https://smile.amazon.co.uk", "assets/img/logos/logo-am.png")
