<div class="row-center">
    <a target="_blank" href=https://www.youtube.com/hopsonn> 
        <i class="fab fa-youtube fa-2x"></i>
    </a>
    <a target="_blank" href=https://github.com/Hopson97> 
        <i class="fab fa-github fa-2x"></i>
    </a>
    <a target="_blank" href=https://www.patreon.com/Hopson> 
        <i class="fab fa-patreon fa-2x"></i>
    </a>
    <a target="_blank" href=https://twitter.com/Hopson1997> 
        <i class="fab fa-twitter fa-2x"></i>
    </a>
    <a target="_blank" href=https://www.twitch.tv/hopsonn> 
        <i class="fab fa-twitch fa-2x"></i>
    </a>
    
</div>